In [276]:
# Import necessary libraries
import pandas as pd
import warnings
import numpy as np

In [277]:
# Ignore Warnings
warnings.filterwarnings("ignore")

In [278]:
# Reading Individual Level Data
ind_data = pd.read_csv("D:\\DOWNLOADS_FOR_D_DRIVE_REAL_TIME\\HPSDATA\\Phase 4.2\\HPS_Phase4-2Cycle08_PUF_CSV(July23-August19)2024\\hps_04_02_08_puf.csv")

#Print first few rows
ind_data.head()

,SCRAM,CYCLE,EST_ST,EST_MSA,REGION,HWEIGHT,PWEIGHT,TBIRTH_YEAR,ABIRTH_YEAR,RHISPANIC,...,MOBILE_INTERNET,REDUCED_INT1,REDUCED_INT2,REDUCED_INT3,REDUCED_INT4,REDUCED_INT5,REDUCED_INT6,CANCEL_INTERNET,SOCIAL1,SOCIAL2
0,P080000001,8,6,NaN,4,1826.318569,3527.742770,1940,2,1,...,1,-99,-99,-99,-99,-99,1,-88,1,5
1,P080000002,8,25,14460.0,1,1686.860706,1591.256913,1977,2,2,...,1,-99,-99,-99,-99,-99,1,-88,1,5
2,P080000003,8,49,NaN,4,642.527332,1253.092879,1982,2,1,...,1,-99,-99,-99,-99,-99,1,-88,4,2
3,P080000004,8,53,42660.0,4,1534.832353,4348.143778,2000,2,2,...,1,-99,-99,-99,-99,-99,1,-88,2,4
4,P080000005,8,36,35620.0,1,1329.482127,2494.102703,1988,2,1,...,1,-99,-99,-99,-99,-99,1,-88,2,4

In [279]:
# Filtering dataset based on NY-NJ-PA metropolitan area & New Jersey state
ind_data = ind_data[(ind_data['EST_MSA'] == 35620) & (ind_data['EST_ST'] == 34)]
# ind = ind[ind['EST_ST'].isin([34, 36, 42])]

# Calculating age based on the year the survey was conducted in
ind_data['AGE'] = 2024 - ind_data['TBIRTH_YEAR']

# Filtering dataset based on variables of interest
variables_of_interest = ["EST_ST", "MS", "RRACE", "TWDAYS", "EEDUC", "KINDWORK", "THHLD_NUMPER", "INCOME", "EGENID_BIRTH", "AGE", "RHISPANIC", "ANYWORK", "TWDAYS_RESP"]
ind_data = ind_data[variables_of_interest]

ind_data

,EST_ST,MS,RRACE,TWDAYS,EEDUC,KINDWORK,THHLD_NUMPER,INCOME,EGENID_BIRTH,AGE,RHISPANIC,ANYWORK,TWDAYS_RESP
88,34,3,1,2,6,2,1,-88,2,31,2,1,2
143,34,1,1,3,7,1,3,-88,1,58,1,1,4
200,34,1,3,2,7,3,4,8,1,58,1,1,2
333,34,1,1,3,6,-88,3,-88,2,61,1,2,-88
392,34,1,3,3,7,2,4,8,2,43,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59797,34,1,1,1,7,2,1,6,1,38,1,1,1
59822,34,5,3,3,7,2,2,7,2,26,1,1,2
59879,34,1,1,4,7,2,4,8,1,38,1,1,-88
59899,34,1,1,4,6,-88,2,-99,2,66,1,2,-88
59908,34,5,2,4,5,2,3,6,1,33,1,1,-88

In [280]:
# Checking for unique occurrences for chosen constraints
print(sorted(ind_data['AGE'].unique()))
print(sorted(ind_data['EEDUC'].unique()))
print(sorted(ind_data['EGENID_BIRTH'].unique()))
print(sorted(ind_data['KINDWORK'].unique()))
print(sorted(ind_data['INCOME'].unique()))
print(sorted(ind_data['MS'].unique()))
print(sorted(ind_data['THHLD_NUMPER'].unique()))
print(sorted(ind_data['TWDAYS'].unique()))

# Replacing -99 and -88 codes with NA to treat them as missing
ind_data['EEDUC'].replace([-99, -88], pd.NA, inplace=True)
ind_data['TWDAYS'].replace([-99, -88], pd.NA, inplace=True)
ind_data['KINDWORK'].replace([-99, -88], pd.NA, inplace=True)
ind_data['INCOME'].replace([-99, -88], pd.NA, inplace=True)
ind_data['MS'].replace([-99, -88], pd.NA, inplace=True)

# Dropping rows with NA values, and filtering data to keep individuals aged 25 and above, and who are employed
ind_data.dropna(inplace=True)
ind_data = ind_data[ind_data['AGE'] >= 25]
ind_data = ind_data[ind_data['ANYWORK'] == 1]

# Checking for unique occurrences for chosen constraints after filtering
print(sorted(ind_data['AGE'].unique()))
print(sorted(ind_data['EEDUC'].unique()))
print(sorted(ind_data['EGENID_BIRTH'].unique()))
print(sorted(ind_data['KINDWORK'].unique()))
print(sorted(ind_data['INCOME'].unique()))
print(sorted(ind_data['MS'].unique()))
print(sorted(ind_data['THHLD_NUMPER'].unique()))
print(sorted(ind_data['TWDAYS'].unique()))

ind_data

[np.int64(18), np.int64(20), np.int64(21), np.int64(22), np.int64(23), np.int64(24), np.int64(25), np.int64(26), np.int64(27), np.int64(28), np.int64(29), np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34), np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39), np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44), np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49), np.int64(50), np.int64(51), np.int64(52), np.int64(53), np.int64(54), np.int64(55), np.int64(56), np.int64(57), np.int64(58), np.int64(59), np.int64(60), np.int64(61), np.int64(62), np.int64(63), np.int64(64), np.int64(65), np.int64(66), np.int64(67), np.int64(68), np.int64(69), np.int64(70), np.int64(71), np.int64(72), np.int64(73), np.int64(74), np.int64(75), np.int64(76), np.int64(77), np.int64(78), np.int64(79), np.int64(80), np.int64(81), np.int64(82), np.int64(83), np.int64(84), np.int64(85), np.int64(87), np.int64(88)]
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7)]
[np.int64(1), np.int64(2)]
[np.int64(-99), np.int64(-88), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]
[np.int64(-99), np.int64(-88), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8)]
[np.int64(-99), np.int64(-88), np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10)]
[np.int64(-99), np.int64(-88), np.int64(1), np.int64(2), np.int64(3), np.int64(4)]
[np.int64(26), np.int64(27), np.int64(28), np.int64(29), np.int64(30), np.int64(31), np.int64(32), np.int64(33), np.int64(34), np.int64(35), np.int64(36), np.int64(37), np.int64(38), np.int64(39), np.int64(40), np.int64(41), np.int64(42), np.int64(43), np.int64(44), np.int64(45), np.int64(46), np.int64(47), np.int64(48), np.int64(49), np.int64(50), np.int64(51), np.int64(52), np.int64(53), np.int64(54), np.int64(55), np.int64(56), np.int64(57), np.int64(58), np.int64(59), np.int64(60), np.int64(61), np.int64(62), np.int64(63), np.int64(64), np.int64(65), np.int64(66), np.int64(67), np.int64(68), np.int64(69), np.int64(70), np.int64(71), np.int64(72), np.int64(73), np.int64(75), np.int64(77), np.int64(78), np.int64(80)]
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7)]
[np.int64(1), np.int64(2)]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5]
[np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5), np.int64(6), np.int64(7), np.int64(8), np.int64(9), np.int64(10)]
[1, 2, 3, 4]

,EST_ST,MS,RRACE,TWDAYS,EEDUC,KINDWORK,THHLD_NUMPER,INCOME,EGENID_BIRTH,AGE,RHISPANIC,ANYWORK,TWDAYS_RESP
200,34,1,3,2,7,3,4,8,1,58,1,1,2
392,34,1,3,3,7,2,4,8,2,43,1,1,3
439,34,1,4,1,7,1,6,5,2,52,2,1,4
513,34,1,1,3,7,2,2,8,1,69,1,1,2
707,34,1,1,3,7,2,4,8,2,40,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59691,34,1,2,1,7,2,4,8,1,46,1,1,1
59797,34,1,1,1,7,2,1,6,1,38,1,1,1
59822,34,5,3,3,7,2,2,7,2,26,1,1,2
59879,34,1,1,4,7,2,4,8,1,38,1,1,-88
59908,34,5,2,4,5,2,3,6,1,33,1,1,-88

In [281]:
# Defining breaks and labels based on specific age groups
brks = [25, 30, 35, 40, 45, 50, 55, 60, 62, 65, 67, 70, 75, 80, 85, float('inf')]
labs = ["25 to 29 years", "30 to 34 years", "35 to 39 years", "40 to 44 years", "45 to 49 years", "50 to 54 years", "55 to 59 years", "60 and 61 years", "62 to 64 years", "65 and 66 years", "67 to 69 years", "70 to 74 years", "75 to 79 years", "80 to 84 years", "85 years and over"]

# Encoding/ recategorizing constraints
ind_data['AGE'] = pd.cut(ind_data['AGE'], bins=brks, labels=labs, right=False)
ind_data['EGENID_BIRTH'] = ind_data['EGENID_BIRTH'].replace({1: 'Male', 2: 'Female'})
ind_data['EEDUC'] = ind_data['EEDUC'].replace({1: 'Less than high school', 2: 'Some high school', 3: 'High school graduate or equivalent (for example GED)', 4: 'Some college, but degree not received or is in progress', 5: 'Associateâ€™s degree (for example AA, AS)', 6: "Bachelor's degree (for example BA, BS, AB)", 7: "Graduate degree (for example master's, professional, doctorate)"})
ind_data['KINDWORK'] = ind_data['KINDWORK'].replace({1: 'Government', 2: 'Private company', 3: 'Non-profit organization including tax exempt and charitable organizations', 4: 'Self-employed', 5: 'Working in a family business'})
ind_data['TWDAYS'] = ind_data['TWDAYS'].replace({1: 'Yes, for 1-2 days', 2: 'Yes, for 3-4 days', 3: 'Yes, for 5 or more days', 4: 'No'})
ind_data['INCOME'] = ind_data['INCOME'].replace({1: 'Less than $25,000', 2: '$25,000 - $34,999', 3: '$35,000 - $49,999', 4: '$50,000 - $74,999', 5: '$75,000 - $99,999', 6: '$100,000 - $149,999', 7: '$150,000 - $199,999', 8: '$200,000 and above'})
ind_data['MS'] = ind_data['MS'].replace({1: 'Now married', 2: 'Widowed', 3: 'Divorced', 4: 'Separated', 5: 'Never married'})

# Creating subsets of the data
ind_data_full = ind_data[["EGENID_BIRTH", "AGE", "EEDUC", "KINDWORK", "INCOME", "MS", "THHLD_NUMPER", "TWDAYS"]]
ind_data = ind_data[["EST_ST", "EGENID_BIRTH", "AGE", "EEDUC", "KINDWORK", "MS", "THHLD_NUMPER", "INCOME", "TWDAYS"]]

# Checking for unique occurrences for chosen constraints after recategorizing
print(sorted(ind_data['AGE'].unique()))
print(sorted(ind_data['EEDUC'].unique()))
print(sorted(ind_data['EGENID_BIRTH'].unique()))
print(sorted(ind_data['KINDWORK'].unique()))
print(sorted(ind_data['INCOME'].unique()))
print(sorted(ind_data['TWDAYS'].unique()))

ind_data

['25 to 29 years', '30 to 34 years', '35 to 39 years', '40 to 44 years', '45 to 49 years', '50 to 54 years', '55 to 59 years', '60 and 61 years', '62 to 64 years', '65 and 66 years', '67 to 69 years', '70 to 74 years', '75 to 79 years', '80 to 84 years']
['Associateâ€™s degree (for example AA, AS)', "Bachelor's degree (for example BA, BS, AB)", "Graduate degree (for example master's, professional, doctorate)", 'High school graduate or equivalent (for example GED)', 'Less than high school', 'Some college, but degree not received or is in progress', 'Some high school']
['Female', 'Male']
['Government', 'Non-profit organization including tax exempt and charitable organizations', 'Private company', 'Self-employed', 'Working in a family business']
['$100,000 - $149,999', '$150,000 - $199,999', '$200,000 and above', '$25,000 - $34,999', '$35,000 - $49,999', '$50,000 - $74,999', '$75,000 - $99,999', 'Less than $25,000']
['No', 'Yes, for 1-2 days', 'Yes, for 3-4 days', 'Yes, for 5 or more days']

,EST_ST,EGENID_BIRTH,AGE,EEDUC,KINDWORK,MS,THHLD_NUMPER,INCOME,TWDAYS
200,34,Male,55 to 59 years,"Graduate degree (for example master's, profess...",Non-profit organization including tax exempt a...,Now married,4,"$200,000 and above","Yes, for 3-4 days"
392,34,Female,40 to 44 years,"Graduate degree (for example master's, profess...",Private company,Now married,4,"$200,000 and above","Yes, for 5 or more days"
439,34,Female,50 to 54 years,"Graduate degree (for example master's, profess...",Government,Now married,6,"$75,000 - $99,999","Yes, for 1-2 days"
513,34,Male,67 to 69 years,"Graduate degree (for example master's, profess...",Private company,Now married,2,"$200,000 and above","Yes, for 5 or more days"
707,34,Female,40 to 44 years,"Graduate degree (for example master's, profess...",Private company,Now married,4,"$200,000 and above","Yes, for 5 or more days"
...,...,...,...,...,...,...,...,...,...
59691,34,Male,45 to 49 years,"Graduate degree (for example master's, profess...",Private company,Now married,4,"$200,000 and above","Yes, for 1-2 days"
59797,34,Male,35 to 39 years,"Graduate degree (for example master's, profess...",Private company,Now married,1,"$100,000 - $149,999","Yes, for 1-2 days"
59822,34,Female,25 to 29 years,"Graduate degree (for example master's, profess...",Private company,Never married,2,"$150,000 - $199,999","Yes, for 5 or more days"
59879,34,Male,35 to 39 years,"Graduate degree (for example master's, profess...",Private company,Now married,4,"$200,000 and above",No
59908,34,Male,30 to 34 years,"Associateâ€™s degree (for example AA, AS)",Private company,Never married,3,"$100,000 - $149,999",No

In [282]:
con_age = pd.read_csv("con_age.csv")
con_sex= pd.read_csv("con_sex.csv")
con_edu = pd.read_csv("con_edu.csv")
con_work = pd.read_csv("con_work.csv")
con_income = pd.read_csv("con_income.csv")
con_marraige = pd.read_csv("con_marraige.csv")

In [283]:
sum_con_age = con_age.sum(numeric_only=True).sum()
sum_con_sex = con_sex.sum(numeric_only=True).sum()
sum_con_edu = con_edu.sum(numeric_only=True).sum()
sum_con_work = con_work.sum(numeric_only=True).sum()
sum_con_income = con_income.sum(numeric_only=True).sum()
sum_con_marraige = con_marraige.sum(numeric_only=True).sum()
print("Sum of age:{}".format(sum_con_age))
print("Sum of sex:{}.".format(sum_con_sex))
print("Sum of education:{}".format(sum_con_edu))
print("Sum of work:{}".format(sum_con_work))
print("Sum of income:{}".format(sum_con_income))
print("Sum of marraige:{}".format(sum_con_marraige))

Sum of age:599808
Sum of sex:591884.0.
Sum of education:598110.0
Sum of work:436970.0
Sum of income:320079
Sum of marraige:711090

In [284]:
# Compute total work counts for each row
total_income_counts = con_income.sum(axis=1)

# Define the adjustment and correction function
def adjust_and_correct(df, target_totals):
    # Compute the initial proportions
    proportions = df.div(df.sum(axis=1), axis=0)
    
    # Apply target totals using proportions
    adjusted_values = proportions.mul(target_totals, axis=0)
    rounded_values = adjusted_values.round()
    
    # Efficiently correct residuals
    residuals = target_totals - rounded_values.sum(axis=1)
    for idx in residuals[residuals != 0].index:
        sign = np.sign(residuals[idx])
        row_proportions = proportions.loc[idx]
        sorted_indices = row_proportions.sort_values(ascending=False).index
        for col in sorted_indices:
            if sign == 1 and residuals[idx] > 0:
                max_add = target_totals[idx] - rounded_values.loc[idx].sum()
                add_value = min(max_add, residuals[idx])
                rounded_values.loc[idx, col] += add_value
                residuals[idx] -= add_value
            elif sign == -1 and residuals[idx] < 0:
                max_sub = rounded_values.loc[idx, col]
                sub_value = min(max_sub, -residuals[idx])
                rounded_values.loc[idx, col] -= sub_value
                residuals[idx] += sub_value
            if residuals[idx] == 0:
                break
    
    # Validation (optional but recommended)
    validation_passed = (rounded_values.sum(axis=1) == target_totals).all()
    return {
        'rounded_values': rounded_values,
        'validation_passed': validation_passed
    }

# Apply the function to your datasets
results_edu = adjust_and_correct(con_edu, total_income_counts)
results_age = adjust_and_correct(con_age, total_income_counts)
results_sex = adjust_and_correct(con_sex, total_income_counts)
results_work = adjust_and_correct(con_work, total_income_counts)
results_marraige = adjust_and_correct(con_marraige,total_income_counts)

# Output the results to check
print("Adjusted and Corrected Education Data:")
print(results_edu['rounded_values'])
print("\nAdjusted and Corrected Age Data:")
print(results_age['rounded_values'])
print("\nAdjusted and Corrected Sex Data:")
print(results_sex['rounded_values'])
print("\nAdjusted and Corrected Work Data:")
print(results_work['rounded_values'])
print("\nAdjusted and Corrected Marraige Data:")
print(results_marraige['rounded_values'])

Adjusted and Corrected Education Data:
     Less than high school  Some high school  \
0                      4.0               1.0
1                     23.0              15.0
2                     18.0              77.0
3                     15.0              15.0
4                      9.0               1.0
..                     ...               ...
561                    4.0              20.0
562                    2.0              37.0
563                   66.0              50.0
564                    7.0               3.0
565                    1.0               4.0

     High school graduate or equivalent (for example GED)  \
0                                                242.0
1                                                185.0
2                                                 97.0
3                                                256.0
4                                                 60.0
..                                                 ...
561                                              117.0
562                                              113.0
563                                              191.0
564                                               15.0
565                                                2.0

     Some college, but degree not received or is in progress  \
0                                                 84.0
1                                                133.0
2                                                 81.0
3                                                176.0
4                                                 83.0
..                                                 ...
561                                               28.0
562                                               40.0
563                                              135.0
564                                                1.0
565                                                9.0

     Associateâ€™s degree (for example AA, AS)  \
0                                       33.0
1                                       54.0
2                                       27.0
3                                      115.0
4                                       20.0
..                                       ...
561                                      0.0
562                                     36.0
563                                      0.0
564                                      1.0
565                                      2.0

     Bachelor's degree (for example BA, BS, AB)  \
0                                         267.0
1                                         259.0
2                                         205.0
3                                         200.0
4                                          75.0
..                                          ...
561                                        43.0
562                                        15.0
563                                       351.0
564                                        13.0
565                                        59.0

     Graduate degree (for example master's, professional, doctorate)
0                                                 98.0
1                                                 76.0
2                                                117.0
3                                                 58.0
4                                                 39.0
..                                                 ...
561                                              162.0
562                                               26.0
563                                              159.0
564                                                2.0
565                                               59.0

[566 rows x 7 columns]

Adjusted and Corrected Age Data:
     25 to 29 years  30 to 34 years  35 to 39 years  40 to 44 years  \
0               3.0             1.0           135.0            26.0
1              29.0            38.0           158.0            86.0
2              94.0           162.0            41.0             1.0
3              53.0            41.0            65.0            30.0
4              13.0            33.0             1.0            37.0
..              ...             ...             ...             ...
561            58.0            45.0             1.0            91.0
562             0.0            80.0             0.0             3.0
563           108.0           138.0           272.0           124.0
564             1.0             1.0            13.0            16.0
565            30.0            27.0            41.0            30.0

     45 to 49 years  50 to 54 years  55 to 59 years  60 and 61 years  \
0             147.0           130.0            79.0             13.0
1              30.0            58.0            48.0             15.0
2              15.0            50.0            64.0             17.0
3              41.0           109.0           236.0             46.0
4              13.0            38.0            42.0              1.0
..              ...             ...             ...              ...
561            81.0            32.0             1.0              1.0
562            46.0            18.0            14.0              9.0
563            60.0            71.0            10.0             13.0
564             1.0             1.0             1.0              1.0
565             4.0             0.0             3.0              0.0

     62 to 64 years  65 and 66 years  67 to 69 years  70 to 74 years  \
0              26.0             38.0             1.0            28.0
1              72.0             23.0            63.0            86.0
2              45.0             31.0            75.0             1.0
3              47.0             14.0            32.0            42.0
4              14.0              1.0             7.0            15.0
..              ...              ...             ...             ...
561            28.0              1.0             1.0            28.0
562             9.0              2.0             7.0            66.0
563            38.0             12.0            27.0            35.0
564             1.0              1.0             1.0             1.0
565             0.0              0.0             0.0             0.0

     75 to 79 years  80 to 84 years  85 years and over
0              35.0            18.0               49.0
1              20.0             1.0               18.0
2              15.0             1.0               10.0
3              19.0            45.0               15.0
4              43.0            28.0                1.0
..              ...             ...                ...
561             4.0             1.0                1.0
562            15.0             0.0                0.0
563             1.0            14.0               29.0
564             1.0             1.0                1.0
565             1.0             0.0                0.0

[566 rows x 15 columns]

Adjusted and Corrected Sex Data:
      Male  Female
0    209.0   520.0
1    403.0   342.0
2    272.0   350.0
3    434.0   401.0
4    115.0   172.0
..     ...     ...
561  192.0   182.0
562   91.0   178.0
563  540.0   412.0
564   22.0    20.0
565   72.0    64.0

[566 rows x 2 columns]

Adjusted and Corrected Work Data:
     Government  Private company  \
0         255.0            428.0
1         132.0            400.0
2         166.0            437.0
3          86.0            649.0
4          86.0            198.0
..          ...              ...
561        96.0            184.0
562        17.0            195.0
563        37.0            774.0
564        19.0             18.0
565         9.0             50.0

     Non-profit organization including tax exempt and charitable organizations  \
0                                                 21.0
1                                                 76.0
2                                                 17.0
3                                                 85.0
4                                                  1.0
..                                                 ...
561                                               92.0
562                                               15.0
563                                              106.0
564                                                1.0
565                                               77.0

     Self-employed  Working in a family business
0             25.0                           0.0
1            137.0                           0.0
2              2.0                           0.0
3             15.0                           0.0
4              2.0                           0.0
..             ...                           ...
561            2.0                           0.0
562           42.0                           0.0
563           35.0                           0.0
564            3.0                           1.0
565            0.0                           0.0

[566 rows x 5 columns]

Adjusted and Corrected Marraige Data:
     Now Married  Widowed  Divorced  Seperated  Never Married
0          320.0     89.0     148.0       43.0          129.0
1          431.0     55.0      40.0       15.0          204.0
2          325.0     25.0      43.0       44.0          185.0
3          541.0     22.0      66.0       10.0          196.0
4          151.0     12.0      40.0        1.0           83.0
..           ...      ...       ...        ...            ...
561        211.0      1.0       1.0       54.0          107.0
562        120.0      0.0      35.0        8.0          106.0
563        256.0     25.0     200.0       58.0          413.0
564         27.0      1.0       1.0        2.0           11.0
565          3.0      0.0       0.0        2.0          131.0

[566 rows x 5 columns]

In [285]:
# Assign corrected values back to the original dataframes
con_age = results_age['rounded_values']
con_sex = results_sex['rounded_values']
con_edu = results_edu['rounded_values']
con_work = results_work['rounded_values']
con_marraige = results_marraige['rounded_values']

# Sum the total values of the different corrected constraints
sum_con_age = con_age.values.sum()
sum_con_sex = con_sex.values.sum()
sum_con_edu = con_edu.values.sum()
sum_con_work = con_work.values.sum()
sum_con_marraige = con_marraige.values.sum()

# Display the total sum of corrected constraints
print("Total Sum of Corrected Age Constraints:")
print(sum_con_age)
print("\nTotal Sum of Corrected Sex Constraints:")
print(sum_con_sex)
print("\nTotal Sum of Corrected Education Constraints:")
print(sum_con_edu)
print("\nTotal Sum of Corrected Work Constraints:")
print(sum_con_work)
print("Total Sum of Corrected Marraige Constraints:")
print(sum_con_marraige)

# Compare row sums of different corrected constraints
print("\nRow sums comparison between corrected constraints:")
print((con_income.sum(axis=1) == con_age.sum(axis=1)).all())
print((con_income.sum(axis=1) == con_sex.sum(axis=1)).all())
print((con_income.sum(axis=1) == con_work.sum(axis=1)).all())
print((con_income.sum(axis=1) == con_edu.sum(axis=1)).all())
print((con_age.sum(axis=1) == con_marraige.sum(axis=1)).all())

Total Sum of Corrected Age Constraints:
320079.0

Total Sum of Corrected Sex Constraints:
320079.0

Total Sum of Corrected Education Constraints:
320079.0

Total Sum of Corrected Work Constraints:
320079.0
Total Sum of Corrected Marraige Constraints:
320079.0

Row sums comparison between corrected constraints:
True
True
True
True
True

In [286]:
print(con_age)
print(con_edu)
print(con_work)
print(con_income)
print(con_marraige)

     25 to 29 years  30 to 34 years  35 to 39 years  40 to 44 years  \
0               3.0             1.0           135.0            26.0
1              29.0            38.0           158.0            86.0
2              94.0           162.0            41.0             1.0
3              53.0            41.0            65.0            30.0
4              13.0            33.0             1.0            37.0
..              ...             ...             ...             ...
561            58.0            45.0             1.0            91.0
562             0.0            80.0             0.0             3.0
563           108.0           138.0           272.0           124.0
564             1.0             1.0            13.0            16.0
565            30.0            27.0            41.0            30.0

     45 to 49 years  50 to 54 years  55 to 59 years  60 and 61 years  \
0             147.0           130.0            79.0             13.0
1              30.0            58.0            48.0             15.0
2              15.0            50.0            64.0             17.0
3              41.0           109.0           236.0             46.0
4              13.0            38.0            42.0              1.0
..              ...             ...             ...              ...
561            81.0            32.0             1.0              1.0
562            46.0            18.0            14.0              9.0
563            60.0            71.0            10.0             13.0
564             1.0             1.0             1.0              1.0
565             4.0             0.0             3.0              0.0

     62 to 64 years  65 and 66 years  67 to 69 years  70 to 74 years  \
0              26.0             38.0             1.0            28.0
1              72.0             23.0            63.0            86.0
2              45.0             31.0            75.0             1.0
3              47.0             14.0            32.0            42.0
4              14.0              1.0             7.0            15.0
..              ...              ...             ...             ...
561            28.0              1.0             1.0            28.0
562             9.0              2.0             7.0            66.0
563            38.0             12.0            27.0            35.0
564             1.0              1.0             1.0             1.0
565             0.0              0.0             0.0             0.0

     75 to 79 years  80 to 84 years  85 years and over
0              35.0            18.0               49.0
1              20.0             1.0               18.0
2              15.0             1.0               10.0
3              19.0            45.0               15.0
4              43.0            28.0                1.0
..              ...             ...                ...
561             4.0             1.0                1.0
562            15.0             0.0                0.0
563             1.0            14.0               29.0
564             1.0             1.0                1.0
565             1.0             0.0                0.0

[566 rows x 15 columns]
     Less than high school  Some high school  \
0                      4.0               1.0
1                     23.0              15.0
2                     18.0              77.0
3                     15.0              15.0
4                      9.0               1.0
..                     ...               ...
561                    4.0              20.0
562                    2.0              37.0
563                   66.0              50.0
564                    7.0               3.0
565                    1.0               4.0

     High school graduate or equivalent (for example GED)  \
0                                                242.0
1                                                185.0
2                                                 97.0
3                                                256.0
4                                                 60.0
..                                                 ...
561                                              117.0
562                                              113.0
563                                              191.0
564                                               15.0
565                                                2.0

     Some college, but degree not received or is in progress  \
0                                                 84.0
1                                                133.0
2                                                 81.0
3                                                176.0
4                                                 83.0
..                                                 ...
561                                               28.0
562                                               40.0
563                                              135.0
564                                                1.0
565                                                9.0

     Associateâ€™s degree (for example AA, AS)  \
0                                       33.0
1                                       54.0
2                                       27.0
3                                      115.0
4                                       20.0
..                                       ...
561                                      0.0
562                                     36.0
563                                      0.0
564                                      1.0
565                                      2.0

     Bachelor's degree (for example BA, BS, AB)  \
0                                         267.0
1                                         259.0
2                                         205.0
3                                         200.0
4                                          75.0
..                                          ...
561                                        43.0
562                                        15.0
563                                       351.0
564                                        13.0
565                                        59.0

     Graduate degree (for example master's, professional, doctorate)
0                                                 98.0
1                                                 76.0
2                                                117.0
3                                                 58.0
4                                                 39.0
..                                                 ...
561                                              162.0
562                                               26.0
563                                              159.0
564                                                2.0
565                                               59.0

[566 rows x 7 columns]
     Government  Private company  \
0         255.0            428.0
1         132.0            400.0
2         166.0            437.0
3          86.0            649.0
4          86.0            198.0
..          ...              ...
561        96.0            184.0
562        17.0            195.0
563        37.0            774.0
564        19.0             18.0
565         9.0             50.0

     Non-profit organization including tax exempt and charitable organizations  \
0                                                 21.0
1                                                 76.0
2                                                 17.0
3                                                 85.0
4                                                  1.0
..                                                 ...
561                                               92.0
562                                               15.0
563                                              106.0
564                                                1.0
565                                               77.0

     Self-employed  Working in a family business
0             25.0                           0.0
1            137.0                           0.0
2              2.0                           0.0
3             15.0                           0.0
4              2.0                           0.0
..             ...                           ...
561            2.0                           0.0
562           42.0                           0.0
563           35.0                           0.0
564            3.0                           1.0
565            0.0                           0.0

[566 rows x 5 columns]
     Less than $25,000  $25,000 - $34,999  $35,000 - $49,999  \
0                    8                 54                151
1                   39                  4                 29
2                   33                 30                129
3                   23                 39                 34
4                   44                 25                 22
..                 ...                ...                ...
561                 55                 96                 49
562                  8                  4                  6
563                233                183                 36
564                  8                  4                  6
565                 38                  4                 19

     $50,000 - 74,999  $75,000 - $99,999  $100,000 - $149,999  \
0                  18                213                  167
1                 121                 63                  232
2                  50                 18                  216
3                  81                123                   85
4                  29                 25                   85
..                ...                ...                  ...
561                 4                 46                   99
562                24                121                    4
563                61                 40                  217
564                 4                  2                    4
565                15                  2                   40

     $150,000 - $199,999  $200,000 and above
0                     71                  47
1                     88                 169
2                    100                  46
3                    201                 249
4                     13                  44
..                   ...                 ...
561                    2                  23
562                   44                  58
563                   81                 101
564                   12                   2
565                   12                   6

[566 rows x 8 columns]
     Now Married  Widowed  Divorced  Seperated  Never Married
0          320.0     89.0     148.0       43.0          129.0
1          431.0     55.0      40.0       15.0          204.0
2          325.0     25.0      43.0       44.0          185.0
3          541.0     22.0      66.0       10.0          196.0
4          151.0     12.0      40.0        1.0           83.0
..           ...      ...       ...        ...            ...
561        211.0      1.0       1.0       54.0          107.0
562        120.0      0.0      35.0        8.0          106.0
563        256.0     25.0     200.0       58.0          413.0
564         27.0      1.0       1.0        2.0           11.0
565          3.0      0.0       0.0        2.0          131.0

[566 rows x 5 columns]

In [287]:
cons = pd.concat([con_age, con_sex, con_edu, con_work, con_income,con_marraige], axis=1)

# # Reading the CSV file containing block IDs
# blockids = pd.read_csv("BlockIDs.csv")

# # Combining the block IDs with the constraints data
# cons = pd.concat([blockids, cons], axis=1)

# Display the resulting DataFrame
print(cons)

     25 to 29 years  30 to 34 years  35 to 39 years  40 to 44 years  \
0               3.0             1.0           135.0            26.0
1              29.0            38.0           158.0            86.0
2              94.0           162.0            41.0             1.0
3              53.0            41.0            65.0            30.0
4              13.0            33.0             1.0            37.0
..              ...             ...             ...             ...
561            58.0            45.0             1.0            91.0
562             0.0            80.0             0.0             3.0
563           108.0           138.0           272.0           124.0
564             1.0             1.0            13.0            16.0
565            30.0            27.0            41.0            30.0

     45 to 49 years  50 to 54 years  55 to 59 years  60 and 61 years  \
0             147.0           130.0            79.0             13.0
1              30.0            58.0            48.0             15.0
2              15.0            50.0            64.0             17.0
3              41.0           109.0           236.0             46.0
4              13.0            38.0            42.0              1.0
..              ...             ...             ...              ...
561            81.0            32.0             1.0              1.0
562            46.0            18.0            14.0              9.0
563            60.0            71.0            10.0             13.0
564             1.0             1.0             1.0              1.0
565             4.0             0.0             3.0              0.0

     62 to 64 years  65 and 66 years  ...  $50,000 - 74,999  \
0              26.0             38.0  ...                18
1              72.0             23.0  ...               121
2              45.0             31.0  ...                50
3              47.0             14.0  ...                81
4              14.0              1.0  ...                29
..              ...              ...  ...               ...
561            28.0              1.0  ...                 4
562             9.0              2.0  ...                24
563            38.0             12.0  ...                61
564             1.0              1.0  ...                 4
565             0.0              0.0  ...                15

     $75,000 - $99,999  $100,000 - $149,999  $150,000 - $199,999  \
0                  213                  167                   71
1                   63                  232                   88
2                   18                  216                  100
3                  123                   85                  201
4                   25                   85                   13
..                 ...                  ...                  ...
561                 46                   99                    2
562                121                    4                   44
563                 40                  217                   81
564                  2                    4                   12
565                  2                   40                   12

     $200,000 and above  Now Married  Widowed  Divorced  Seperated  \
0                    47        320.0     89.0     148.0       43.0
1                   169        431.0     55.0      40.0       15.0
2                    46        325.0     25.0      43.0       44.0
3                   249        541.0     22.0      66.0       10.0
4                    44        151.0     12.0      40.0        1.0
..                  ...          ...      ...       ...        ...
561                  23        211.0      1.0       1.0       54.0
562                  58        120.0      0.0      35.0        8.0
563                 101        256.0     25.0     200.0       58.0
564                   2         27.0      1.0       1.0        2.0
565                   6          3.0      0.0       0.0        2.0

     Never Married
0            129.0
1            204.0
2            185.0
3            196.0
4             83.0
..             ...
561          107.0
562          106.0
563          413.0
564           11.0
565          131.0

[566 rows x 42 columns]

In [288]:
# Creating dummy variables for each column with 0 and 1 representation
cat_age = pd.get_dummies(ind_data['AGE'], prefix='AGE', drop_first=False).astype(int)
cat_sex = pd.get_dummies(ind_data['EGENID_BIRTH'], prefix='EGENID_BIRTH', drop_first=False).astype(int)
cat_edu = pd.get_dummies(ind_data['EEDUC'], prefix='EEDUC', drop_first=False).astype(int)
cat_work = pd.get_dummies(ind_data['KINDWORK'], prefix='KINDWORK', drop_first=False).astype(int)
cat_income = pd.get_dummies(ind_data['INCOME'], prefix='INCOME', drop_first=False).astype(int)
cat_marriage = pd.get_dummies(ind_data['MS'], prefix='MS', drop_first=False).astype(int)

# Getting the dimensions of each dummy matrix
print(cat_age.shape)
print(cat_sex.shape)
print(cat_edu.shape)
print(cat_work.shape)
print(cat_income.shape)
print(cat_marriage.shape)

(370, 15)
(370, 2)
(370, 7)
(370, 5)
(370, 8)
(370, 5)

In [289]:
# Combine the dummy matrices horizontally (similar to `cbind()` in R)
ind_cat = pd.concat([cat_age, cat_sex, cat_edu, cat_work, cat_income, cat_marriage], axis=1)

# Display the first few rows of the resulting DataFrame
ind_cat.head()

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
200,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
392,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
439,0,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
513,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
707,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [290]:
# Calculate column sums of ind_cat
ind_agg = ind_cat.sum(axis=0)
# Convert ind_agg to a DataFrame (to be able to use rbind-like functionality)
ind_agg_df = pd.DataFrame([ind_agg], columns=ind_agg.index)
# Combine the first row of cons with ind_agg (similar to rbind in R)
combined = pd.concat([ind_agg_df,cons.iloc[[0]]],axis=0,ignore_index=True)

# Display the combined DataFrame
combined

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"$50,000 - 74,999","$75,000 - $99,999","$100,000 - $149,999","$150,000 - $199,999","$200,000 and above",Now Married,Widowed,Divorced,Seperated,Never Married
0,15.0,36.0,56.0,62.0,35.0,42.0,37.0,22.0,15.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,213.0,167.0,71.0,47.0,320.0,89.0,148.0,43.0,129.0

In [291]:
# Number of rows in `cons`
n_zone = cons.shape[0]
print(n_zone)

# Number of rows in `ind_data`
n_ind = ind_data.shape[0]
print(n_ind)

# Number of columns in `con_age`
n_age = con_age.shape[1]
print(n_age)

# Number of columns in `con_sex`
n_sex = con_sex.shape[1]
print(n_sex)

# Number of columns in `con_edu`
n_edu = con_edu.shape[1]
print(n_edu)

# Number of columns in `con_work`
n_work = con_work.shape[1]
print(n_work)

# Number of columns in `con_income`
n_income = con_income.shape[1]
print(n_income)

# Number of columns in `con_marriage`
n_marriage = con_marraige.shape[1]
print(n_marriage)

566
370
15
2
7
5
8
5

In [292]:
# Creating a weights matrix filled with ones, similar to the R code
weights = np.ones((n_ind, n_zone))

# Creating multiple copies of weights matrix
weights1 = weights2 = weights3 = weights4 = weights5 = weights6 = weights.copy()

# Dimensions of weights matrix
print(weights.shape)

# Creating `ind_agg0` by applying a transformation to each row of `cons`
ind_agg0 = np.apply_along_axis(lambda x: 1 * ind_agg.values, axis=1, arr=cons)

# Converting `ind_agg0` to a DataFrame and setting column names to match `cons`
ind_agg0_df = pd.DataFrame(ind_agg0, columns=cons.columns)

# Displaying the first few rows of the DataFrame
print(ind_agg0_df.head())

(370, 566)
   25 to 29 years  30 to 34 years  35 to 39 years  40 to 44 years  \
0              15              36              56              62
1              15              36              56              62
2              15              36              56              62
3              15              36              56              62
4              15              36              56              62

   45 to 49 years  50 to 54 years  55 to 59 years  60 and 61 years  \
0              35              42              37               22
1              35              42              37               22
2              35              42              37               22
3              35              42              37               22
4              35              42              37               22

   62 to 64 years  65 and 66 years  ...  $50,000 - 74,999  $75,000 - $99,999  \
0              15               12  ...                17                 18
1              15               12  ...                17                 18
2              15               12  ...                17                 18
3              15               12  ...                17                 18
4              15               12  ...                17                 18

   $100,000 - $149,999  $150,000 - $199,999  $200,000 and above  Now Married  \
0                   36                   40                   4           49
1                   36                   40                   4           49
2                   36                   40                   4           49
3                   36                   40                   4           49
4                   36                   40                   4           49

   Widowed  Divorced  Seperated  Never Married
0       88       223          4              6
1       88       223          4              6
2       88       223          4              6
3       88       223          4              6
4       88       223          4              6

[5 rows x 42 columns]

In [293]:
# Loop through zones and age categories
for j in range(n_zone):
    for i in range(n_age):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1
        
        # Update weights1 where the index condition is True
        weights1[index, j] = weights[index, j] * con_age.iloc[j, i] / ind_agg0_df.iloc[j, i]

# Convert to DataFrame and display first few rows
weights1_df = pd.DataFrame(weights1)
weights1_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,2.135135,1.297297,1.729730,6.378378,1.135135,0.027027,1.567568,0.783784,2.324324,0.027027,...,0.108108,0.027027,0.378378,4.702703,1.513514,0.027027,0.378378,0.270270,0.027027,0.081081
1,0.419355,1.387097,0.016129,0.483871,0.596774,0.016129,0.645161,0.500000,1.161290,0.532258,...,2.080645,0.951613,1.290323,0.580645,1.209677,1.467742,0.048387,2.000000,0.258065,0.483871
2,3.095238,1.380952,1.190476,2.595238,0.904762,0.023810,2.357143,0.928571,2.666667,2.166667,...,0.452381,0.023810,0.023810,0.261905,2.595238,0.761905,0.428571,1.690476,0.023810,0.000000
3,0.055556,3.500000,4.166667,1.777778,0.388889,0.055556,2.111111,0.666667,1.222222,0.722222,...,0.944444,0.055556,0.055556,0.055556,2.833333,0.055556,0.388889,1.500000,0.055556,0.000000
4,0.419355,1.387097,0.016129,0.483871,0.596774,0.016129,0.645161,0.500000,1.161290,0.532258,...,2.080645,0.951613,1.290323,0.580645,1.209677,1.467742,0.048387,2.000000,0.258065,0.483871

In [294]:
# Create `ind_agg` matrices filled with NaN, and they will all be copies of `ind_agg0`
ind_agg1 = ind_agg2 = ind_agg3 = ind_agg4 = ind_agg5 = ind_agg6 = np.full_like(ind_agg0, np.nan)

# Loop to calculate column sums for each zone and store in `ind_agg1`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights1[:, i]
    ind_agg1[i, :] = np.sum(ind_cat.values * weights1[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg1_df = pd.DataFrame(ind_agg1, columns=ind_cat.columns)
ind_agg1_df.head()

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,3,1,135,26,147,130,79,13,26,38,...,30,40,70,71,9,115,122,430,3,8
1,29,38,158,86,30,57,48,15,72,23,...,32,37,83,73,8,96,155,450,6,18
2,94,162,41,1,15,50,64,17,45,31,...,33,38,57,67,6,72,197,324,6,11
3,53,41,65,30,41,109,236,46,47,14,...,34,55,83,92,5,142,167,485,10,13
4,13,33,0,37,13,38,42,1,14,0,...,8,27,31,33,1,40,67,174,2,2

In [295]:
ind_agg1 = np.array(ind_agg1)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg1 = np.sum(ind_agg1[:, 0:15], axis=1)
row_sums_cons = np.sum(cons1[:, 0:15], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg1 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg1:\n", row_sums_ind_agg1)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg1:
 [ 680  726  612  820  283   90  715  351 1007  472  774  643  492  592
  485  349  294  748  549  852  292  471  636  772  460  467  538  277
  678  817  857  338  433  260  739  584  276  917 1038  264  444  503
  489  289  716  404  569  249  464  573  391  836  426  482  391  265
  242 1024  367  615  777  279  445  921  492 1066  426  245  632 1037
  461  773  632  295  491  334  603  892  319  401  434  655  616  914
  560  479  615  359  414  771  315  214  650  328  208  392  310  595
  683  348  275   52 1189  416  636  356  713  242  327  825  461  420
  703  725  491  904  285  505  375  526  278  320  330  721  551  275
  708  319  471  268  488  523  548  441  775  570  520  272 1063  322
   37   50  645  541  608  259  305  381  354  477  644 1020  344  435
  312  462  434  349  681  594  281  607  733  587  586  582  810  500
  199  281  312  501  405  496  453  466  480 1029  793  356  640  636
  339  367  247  255  792  752  857  437  231  255  901  998  305  428
  466  401  936  373  427  264  600  690  379  820  513  706  440  368
  220  358  594  861  375  576  230  531  508  217  519  358  765 1071
  586  505  450  270  271  422  438  422  799  843  802  291  530  368
  560  419  565  353  622  822  148 1114  575  433  622  571  576  290
  555  381  581  583  495  366  281  670  299 1036  391  723  473  311
  264  284  556  506  551  457  931 1481  249  694  229  674  678  250
  510  334  395  778  482  292  331  395  418  577  757  596  431  578
  282  611  312  438  901  467  417  631  361  862  789  463  391  413
  220  392  156  584  592  358  763  542  483  540  735  448  743  650
 1152  412  370  634  565  454  840  147  829 1053  800  437   31  490
  349  471  311  461  585  410  396  486  543  519  497  632  466  378
 1117  902  861  429 1068  423  575  610  430  582  934  554  694  432
  263  269  559  570  365  559  297  498  233  233  383  412  381  594
  776  934  813  302  284  406  648  586  767   89 1341  385  900  319
  738  783  461  397  573  613  525 1008  724  628  503  221  408  856
  397  647  306  420  555  509  760  329  713 1350  578  785  552  609
  382  647  786  339  545  262  942  776  417  628  390  433 1068  475
  409  515  515  834 1068  872  725  549  827  822  434  819  556  737
  273  624  684  385  957  318  883  293  456  330  630  482  355  957
  613  408  766  535  742  267  493  502  634  642  581  705  155  638
  145  514  808  557  466  265  571  844  617  347  845  711  556  639
  363 1339  764 1099  662 1248  301  862  959  622  506  723  908  667
  293  653 1019  687  361  354  781 1382  224  480  739  505   62  802
  873  928  516  642  464  667  849  593  811  867  304  469  741 1129
  349  482  437 1231  611  635  224  856  972  817  563   42  275   32
  284   70  646  602  488  374  703  445  572  210  314  426  580 1132
  843  371  268  923   40  136]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False  True False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False  True False False False False False  True False
 False  True False False False False False False False False False  True
  True False False False False False False False False False False False
 False False False False False  True False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False  True False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False  True False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
  True False False False False False False False False  True False False
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False False  True False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False  True False False False False False  True False
 False False False False False False False False False False False False
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False  True False False False False False False
 False False False False False False False False False False False False
 False  True]

In [296]:
cons = pd.DataFrame(cons)
ind_agg1 = pd.DataFrame(ind_agg1)
# Loop through zones and (sex + age) categories
for j in range(n_zone):
    for i in range(n_sex + n_age):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1
        
        # Update weights2 where the index condition is True
        weights2[index, j] = weights1[index, j] * cons.iloc[j, i] / ind_agg1.iloc[j, i]

# Convert to DataFrame and display the first few rows
weights2_df = pd.DataFrame(weights2)
weights2_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,2.937223,1.029410,1.770191,5.441978,1.169121,0.025497,1.345852,0.686318,2.046738,0.027027,...,0.045002,0.023635,0.496547,3.515013,1.273132,0.022986,0.467718,0.198134,0.020790,0.061049
1,0.291180,1.894915,0.016309,0.601719,0.581602,0.018197,0.783263,0.611465,1.451613,0.537528,...,4.514607,1.114456,0.816227,0.808477,1.564613,1.783585,0.035510,3.000000,0.405530,0.696774
2,2.149185,1.919618,1.203753,3.227316,0.881759,0.026862,2.861707,1.135578,3.333333,2.188119,...,0.981581,0.027884,0.015061,0.364670,3.356715,0.925859,0.314516,2.535714,0.037415,NaN
3,0.076426,2.777262,4.264133,1.516785,0.400532,0.052411,1.812517,0.583765,1.076256,0.722222,...,0.393142,0.048582,0.072906,0.041525,2.383333,0.047248,0.480710,1.099644,0.042735,NaN
4,0.291180,1.894915,0.016309,0.601719,0.581602,0.018197,0.783263,0.611465,1.451613,0.537528,...,4.514607,1.114456,0.816227,0.808477,1.564613,1.783585,0.035510,3.000000,0.405530,0.696774

In [297]:
# Loop to calculate column sums for each zone and store in `ind_agg2`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights2[:, i]
    ind_agg2[i, :] = np.sum(ind_cat.values * weights1[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg2_df = pd.DataFrame(ind_agg2, columns=ind_cat.columns)
ind_agg2_df

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,3,1,154,29,147,136,81,14,25,41,...,29,35,67,80,9,101,121,494,3,8
1,27,41,156,84,33,62,52,15,81,23,...,35,41,95,76,11,119,161,436,6,23
2,95,164,41,1,15,50,65,17,45,31,...,33,39,58,68,6,73,201,330,6,11
3,50,43,64,29,43,113,248,46,51,14,...,37,62,90,96,6,164,172,474,10,15
4,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
562,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
563,101,157,270,123,68,77,11,13,45,12,...,41,41,88,103,9,94,277,563,5,12
564,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
565,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808

In [298]:
ind_agg2 = np.array(ind_agg2)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg2 = np.sum(ind_agg2[:, 15:17], axis=1)
row_sums_cons = np.sum(cons1[:, 15:17], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg2 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg2:\n", row_sums_ind_agg2)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg2:
 [ 729  746  622  835    0    0  728  362    0  473    0  655    0    0
  499    0    0  763  575    0  304  484  643    0  488    0  550    0
  698  820  864    0  449  266  749    0  277  928 1051    0  449  506
    0  309  720    0  589    0  491  580  393  851  444  531  392    0
  244 1087    0  621  790    0    0    0  495 1160    0    0    0 1042
  464  790  661  305  510    0  612  988  345  408  436  686  649  930
  564  494  633  362    0  776  346    0  709  336    0  415  343    0
    0    0    0    0 1197    0  641  360  718  242    0    0  488  423
  741  762    0    0  298  527  402  557  286  331  338  748  571    0
    0  324    0    0    0  531  575    0  798  577  549  289 1064  325
    0    0  676  548  690  268    0    0    0  488    0 1036  374  445
  320  491  483  354  688  616    0  610  739  600  599  590  873    0
  205  294    0  524    0  501    0  469    0 1071  798    0  641    0
  342    0  264  298  813  775  868  466    0    0  913 1022    0  438
  480  415  961  396    0    0  641  705  387    0  531    0  445  375
  231  371  617    0  385  592  231  543    0  225  529  359  768 1162
  587    0    0    0  290    0  444  437  849  860    0  300  541    0
  626    0    0  354  760    0    0 1195  576    0  645    0  587  296
    0  386  582  590    0    0    0  687    0    0    0  769    0    0
  267    0  614  509  577  460  974 1553  252  699    0  683    0  282
  513  358  445  838  488    0  342    0    0  584    0  600    0    0
    0    0    0    0  917  486    0    0    0  898  792  465  417  489
    0    0    0  592  619  366    0  558  484  555  749    0  795  677
    0    0  384    0  568    0  864    0    0    0    0  441    0  505
    0  493  318    0    0    0  420    0  545    0  517    0  481  383
 1180  918  871  429 1103  431  581  636    0  630  963  567  725  439
  268  272  563  587    0    0  298    0    0    0    0  423    0    0
  885  980  869    0    0  416  733  593  769   93 1342    0    0  361
  758  814  481  411  579    0    0 1018  729  635  515  224  434  857
  400  648  309  427    0  510  776  331  723 1366  581  830    0  609
    0  666  808  353    0    0 1012  797    0  643    0  466 1104    0
  416  536    0  841 1071  873  758    0  850    0  444  824  721  740
  279  629  699  388  969    0  884    0  471  341  682    0  366 1036
  622  411    0  538    0    0    0    0    0    0    0    0    0  716
    0  587 1118  570  482  275    0  846    0    0  863    0    0  642
    0    0    0    0  712 1270  304  867 1010    0    0  752  917  692
    0    0 1040  698  369  367    0    0    0  480    0    0    0    0
  894  940  517  645  471    0  851  598  846  889    0  476  742    0
    0  489  458    0  612  636    0    0  973  849  573    0  293    0
  315    0  670    0  516  393  706  446  584    0    0  429    0 1133
  863    0    0  953    0    0]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [ True False  True  True False False False False False  True False  True
 False False False False False False False False False False False False
 False False False False False False False False False  True  True False
  True  True False False False False False False  True False False False
 False  True  True False False  True  True False False False False  True
 False False False False False False False False False False False False
 False False False False False False False False False  True  True  True
 False  True  True False False False False False False False False False
 False False False False False False False False  True  True False  True
 False False False False False False False False  True  True False False
 False False False False False False False False False False False False
 False False False False False False  True False False False  True  True
 False False False False False  True False False False  True False False
 False False  True  True False False  True  True False False False False
  True False False  True False False False False False False False False
  True False False False  True  True False False False  True False False
 False False False  True  True False  True False False False False False
 False False False False False False False False False False False False
  True False False False False  True False False  True False False False
 False False False False  True False False False False False  True False
 False  True False False False False  True False  True False  True False
 False False  True  True False False False False False False False False
 False False False False False False False False  True False False False
 False  True False False False False False False False False False False
 False  True False  True False False False False False False False  True
 False False False False False False False False False False False  True
  True False False False  True False False False False False False False
  True False False False False False False False False  True False False
 False  True False False False False  True False False False  True False
  True  True  True  True False  True False False  True  True False  True
  True False  True False  True False  True False False False  True False
 False False False  True False False False False False False False False
  True  True False  True  True False False  True False  True False False
 False False False False False False  True False False  True False  True
 False  True False  True False False False  True False  True False  True
 False False False False False False False False False  True False False
 False False  True False False False False  True False False False False
 False  True False False False False False False False False  True False
 False False False False False False False  True False False False False
 False False False False False False False  True False False False False
  True  True False False False False  True False False  True False False
 False False False False False False False False False False  True  True
 False False False  True False False False False False  True False False
 False False False False  True False  True False False False False  True
 False False  True False False False  True False  True  True False False
  True  True False False False False  True False False False  True False
 False  True False False False False False  True False False False False
 False False]

In [299]:
epsilon = 1e-10  # Small constant to prevent division by zero

# Loop through zones and (sex + age + edu) categories
for j in range(n_zone):
    for i in range(n_sex + n_age + n_edu):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1

        # Apply epsilon correction to the denominator to prevent division by zero
        adjusted_denominator = ind_agg2[j, i] + epsilon

        # Compute the new weights with the adjusted denominator
        weights3[index, j] = weights2[index, j] * cons.iloc[j, i] / adjusted_denominator

# Convert to DataFrame and display the first few rows
weights3_df = pd.DataFrame(weights3)
weights3_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,2.458359,0.636926,0.867010,4.734772,-6.458317e-52,-1.624775e-57,0.635902,0.888244,-3.920159e-50,0.025614,...,-1.995912e-56,2.613552e-03,-4.607046e-52,9.757751e-01,0.661216,-6.237980e-55,-1.678576e-52,0.093742,-7.948899e-57,-2.987739e-56
1,0.224028,1.297165,0.008113,0.569114,-1.892376e-52,-1.020422e-57,0.392764,0.841561,-1.999378e-50,0.509422,...,-1.707137e-52,1.281733e-01,-1.737233e-51,2.553914e-01,0.882422,-4.646791e-51,-1.396115e-54,1.571092,-2.728900e-54,-3.836248e-54
2,1.762969,1.200708,0.598790,2.846240,-2.946549e-52,-1.506337e-57,1.371410,1.474671,-7.141810e-50,2.073707,...,-5.466867e-54,3.098209e-03,-4.007011e-55,1.087966e-01,1.770448,-8.482282e-52,-7.419354e-53,1.214596,-1.573585e-56,NaN
3,0.065585,1.891596,2.093223,1.431509,-3.687619e-53,-3.339815e-57,0.909872,0.852622,-5.273287e-51,0.684459,...,-7.410515e-55,5.372301e+07,-4.831653e-54,1.238860e+08,1.352751,-1.282251e-54,-8.626018e-53,0.594306,-1.633940e-56,NaN
4,0.224028,1.297165,0.008113,0.569114,-1.892376e-52,-1.020422e-57,0.392764,0.841561,-1.999378e-50,0.509422,...,-1.707137e-52,1.281733e-01,-1.737233e-51,2.553914e-01,0.882422,-4.646791e-51,-1.396115e-54,1.571092,-2.728900e-54,-3.836248e-54

In [300]:
# Loop to calculate column sums for each zone and store in `ind_agg2`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights2[:, i]
    ind_agg3[i, :] = np.sum(ind_cat.values * weights3[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg3_df = pd.DataFrame(ind_agg3, columns=ind_cat.columns)
ind_agg3_df

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,1,0,133,25,211,156,62,9,15,46,...,62,39,99,58,23,109,101,484,2,3
1,12,22,171,92,57,78,44,12,73,40,...,53,58,106,55,27,116,113,434400175,8,40
2,50,93,202302631607,1,49,136,58,15,47,50,...,58,50,129,53,15,78,120,202302631968,4,14
3,25,23,1156652943387,29,63,125,217,36,42,21,...,36,78,114,57,15,162,148,1156652943708,9,18
4,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
562,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
563,49,92,195,156,148,115,11,13,51,27,...,84,98,147,90,28,115,187,587,12,24
564,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
565,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808

In [301]:
ind_agg3 = np.array(ind_agg3)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg3 = np.sum(ind_agg3[:, 17:24], axis=1)
row_sums_cons = np.sum(cons1[:, 17:24], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg3 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg3:\n", row_sums_ind_agg3)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg3:
 [                 698            434400452         202302632182
        1156652944045 -9223372036854775808 -9223372036854775808
           2874451954          10293330784 -9223372036854775808
         220000000385 -9223372036854775808           7130416961
 -9223372036854775808 -9223372036854775808                  495
 -9223372036854775808 -9223372036854775808            399672640
                  559 -9223372036854775808          45151974533
          12124256352                  659 -9223372036854775808
         112812987448 -9223372036854775808                  564
 -9223372036854775808         367240561858           4958184829
           2695586313 -9223372036854775808          54184842306
          20073529666         207092582845 -9223372036854775808
          71873502124                  962                 1065
 -9223372036854775808         164622081954            498258356
 -9223372036854775808                  307         183365854350
 -9223372036854775808          63283699612 -9223372036854775808
         498130840909         256356771376          49832417935
                  929         219254032635                  500
          31186917695 -9223372036854775808          67127811392
                 1052 -9223372036854775808          53663529061
         286356374086 -9223372036854775808 -9223372036854775808
 -9223372036854775808           1313784860                 1114
 -9223372036854775808 -9223372036854775808 -9223372036854775808
         945719704576                  560          59225040054
                  686          64976530573          38363029707
 -9223372036854775808                  628         164132605486
                  323          90557801763         124899491173
                  679         246133380110                  975
                  567          30595238580            510534793
          10093042805 -9223372036854775808                  797
         100083572607 -9223372036854775808                  650
          48686163393 -9223372036854775808          97387387762
          36104614198 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
            503157839 -9223372036854775808                  640
          49591837070                  736           3864605786
 -9223372036854775808 -9223372036854775808         252250900792
          10393893220                  713                  737
 -9223372036854775808 -9223372036854775808          26900585081
         109908630376         377161841711         423539594210
                  283          18940217696         139270299871
                  766                  558 -9223372036854775808
 -9223372036854775808         562880857516 -9223372036854775808
 -9223372036854775808 -9223372036854775808         147417403920
         350351092338 -9223372036854775808                  849
          71281748347         256364616491          29570315785
                 1080          13022900285 -9223372036854775808
 -9223372036854775808                  656          32668786092
          34888633463         124049848545 -9223372036854775808
 -9223372036854775808 -9223372036854775808         141711018703
 -9223372036854775808                 1043         204424317026
                  465         112156720216          57224026427
          66373851494         188677634550                  708
         244458204877 -9223372036854775808                  631
         387200957636          89615215090          67598147764
                  634                  856 -9223372036854775808
          17900580393         130212349325 -9223372036854775808
         231673882139 -9223372036854775808         198267141759
 -9223372036854775808          22381279670 -9223372036854775808
                 1049                  930 -9223372036854775808
         869940476677 -9223372036854775808          40831369483
 -9223372036854775808          26096939012         235165344141
                  813                  792                  887
          81037088327 -9223372036854775808 -9223372036854775808
         819440336593                 1052 -9223372036854775808
         433204633590                  491         141261595898
         509713978878          49015903076 -9223372036854775808
 -9223372036854775808         326495139034                  709
          63147082386 -9223372036854775808         480983260939
 -9223372036854775808          92023263921         149204181825
         105557629288          65861344899         192433414607
 -9223372036854775808         181465116606                  603
         290328467343         209857616297 -9223372036854775808
         180697279103          94993347105         107193202864
                  833                 1166          31307366027
 -9223372036854775808 -9223372036854775808 -9223372036854775808
          55510924498 -9223372036854775808         404915817922
          37350181372           2789939975                  851
 -9223372036854775808          14700197368          94485875380
 -9223372036854775808                  577 -9223372036854775808
 -9223372036854775808         252256377139                  634
 -9223372036854775808 -9223372036854775808                 1146
         582228944199 -9223372036854775808                  631
 -9223372036854775808         644116306592          93727315750
 -9223372036854775808         482456586923         151737504637
         297122698734 -9223372036854775808 -9223372036854775808
 -9223372036854775808                  683 -9223372036854775808
 -9223372036854775808 -9223372036854775808          99529308650
 -9223372036854775808 -9223372036854775808         160449519121
 -9223372036854775808         196354071682         504126116188
                  555          11575411765                  950
                 1560           9957407464         230900524369
 -9223372036854775808          63798868983 -9223372036854775808
          75933746154         191883300941           4241791237
          11190857531                  795           6705823384
 -9223372036854775808           7903585104 -9223372036854775808
 -9223372036854775808                  587 -9223372036854775808
                  604 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808           3145190359         164873711061
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  938           3604319632         238010825804
         365714286036                  409 -9223372036854775808
 -9223372036854775808 -9223372036854775808         366061020970
         713175321535          62970199980 -9223372036854775808
         289906882019         460006010052                  575
                  764 -9223372036854775808         130939774509
         125925000601 -9223372036854775808 -9223372036854775808
         166373376988 -9223372036854775808           1273666661
 -9223372036854775808         194613550987 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
          54522283464 -9223372036854775808          59803800982
 -9223372036854775808                  495         205902051802
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  451 -9223372036854775808                  559
 -9223372036854775808          67091357416 -9223372036854775808
          84354244006         121555059887                 1175
                  960          92834920661         126848485283
                 1085         253518368339         400021426029
         166433918472 -9223372036854775808         350323680423
                  950         353842069173         171807525177
                  459         154171875226         230936293655
         138940719682         280866873587 -9223372036854775808
 -9223372036854775808         302586734374 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
         251337209688 -9223372036854775808 -9223372036854775808
                  796                  936         115806617114
 -9223372036854775808 -9223372036854775808                  415
         186617109986                  612          10760957588
          30381157268            969466504 -9223372036854775808
 -9223372036854775808          25069662778         432851036973
         339203598483         213862782376         531680903018
         235593675156 -9223372036854775808 -9223372036854775808
                 1032           7426362975             37769930
          74668909351         207253830961         129346784519
         648833465184         263993612425                  681
          96639955757         142367566343 -9223372036854775808
 -9223371978108023878          67735936023         239653985133
                  755                 1340           1807409116
                  791 -9223372036854775808         364485969160
 -9223372036854775808         765683646682         172125313842
         399744328401 -9223372036854775808 -9223372036854775808
                 1025                  788 -9223372036854775808
         413164161702 -9223372036854775808          55983210808
         965026110740 -9223372036854775808         130114638834
         313301923138 -9223372036854775808                  850
           2224204929           2715311227            265888899
 -9223372036854775808         949914157397 -9223372036854775808
         113564419531                  830          24142012382
         231726191161         156270286352         705129811736
                  702          37317199522                  967
 -9223372036854775808           7470652791 -9223372036854775808
            800745347                  345                  642
 -9223372036854775808                  373         402590120625
         244438365055                  424 -9223372036854775808
           3190956535 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808         414541537459 -9223372036854775808
          11644794900         262606517088          91466947295
         207520064644          27067669404 -9223372036854775808
                  910 -9223372036854775808 -9223372036854775808
         489604839504 -9223372036854775808 -9223372036854775808
         121165620749 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  685
           4087487358         164998430039                  896
                  960 -9223372036854775808 -9223372036854775808
         292999261319          70957437929         383651874078
 -9223372036854775808 -9223372036854775808                 1039
         364514436346          82946376065         109223274073
 -9223372036854775808 -9223372036854775808 -9223372036854775808
          22448276319 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808          69822131231
                  933         165671916360                  674
          54782252202 -9223372036854775808                  883
           1493976485                  838         466207053280
 -9223372036854775808          13425484217           6772115531
 -9223372036854775808 -9223372036854775808          75464536737
            611814793 -9223372036854775808           9839851078
             32657333 -9223372036854775808 -9223372036854775808
                 1006                  832           7706008353
 -9223372036854775808          97192323795 -9223372036854775808
          81951219827 -9223372036854775808         449519231390
 -9223372036854775808                  506         187702497958
                  755          96760172409                  575
 -9223372036854775808 -9223372036854775808         349006011695
 -9223372036854775808          76240443090                  849
 -9223372036854775808 -9223372036854775808                  924
 -9223372036854775808 -9223372036854775808]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [302]:
epsilon = 1e-10  # Small constant to prevent division by zero

# Loop through zones and (sex + age + edu) categories
for j in range(n_zone):
    for i in range(n_sex + n_age + n_edu + n_work):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1

        # Apply epsilon correction to the denominator to prevent division by zero
        adjusted_denominator = ind_agg3[j, i] + epsilon

        # Compute the new weights with the adjusted denominator
        weights4[index, j] = weights3[index, j] * cons.iloc[j, i] / adjusted_denominator

# Convert to DataFrame and display the first few rows
weights4_df = pd.DataFrame(weights4)
weights4_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,1.822292e+01,2.010951e-06,7.236074e-09,8.916672e-09,-7.658692e-120,-9.990664e-130,6.624578e-07,3.988974e-23,-6.097296e-116,2.620081e+00,...,-2.408992e-127,7.019193e-18,-1.047378e-119,5.166477e-23,2.230800,-3.377226e-124,-1.273630e-120,0.714443,-5.931190e-129,-7.926564e-128
1,1.515685e-02,2.414194e-07,4.590758e-04,1.474139e-01,-6.675740e-123,-6.204027e-132,2.434500e-09,4.363084e-24,-2.836434e-117,6.619301e-02,...,-6.998855e-124,4.413681e-28,-9.100003e-119,2.384312e-24,0.127255,-1.207565e-118,-8.926776e-125,0.244582,-1.990961e-126,-1.763284e-124
2,4.654212e+00,2.063356e+00,1.138713e+00,3.840262e+00,-9.180913e-121,-1.831665e-131,8.089451e-01,9.076599e-16,-2.073758e-116,8.646968e-01,...,-6.602236e-125,2.283012e-25,-1.444768e-124,9.427550e-17,3.494678,-8.088391e-120,-3.225882e-122,0.258439,-1.363323e-128,NaN
3,3.841356e+07,2.911217e-13,2.035888e-10,1.279351e-10,-3.680992e-124,-2.307457e-131,7.533153e-16,2.449345e-24,-2.661221e-118,1.115603e-10,...,-1.514459e-127,1.273910e-30,-7.880722e-123,8.843336e-26,0.176511,-3.471038e-124,-2.517324e-122,0.097078,-6.773273e-130,NaN
4,1.515685e-02,2.414194e-07,4.590758e-04,1.474139e-01,-6.675740e-123,-6.204027e-132,2.434500e-09,4.363084e-24,-2.836434e-117,6.619301e-02,...,-6.998855e-124,4.413681e-28,-9.100003e-119,2.384312e-24,0.127255,-1.207565e-118,-8.926776e-125,0.244582,-1.990961e-126,-1.763284e-124

In [303]:
# Loop to calculate column sums for each zone and store in `ind_agg2`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights2[:, i]
    ind_agg4[i, :] = np.sum(ind_cat.values * weights4[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg4_df = pd.DataFrame(ind_agg4, columns=ind_cat.columns)
ind_agg4_df

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,262919369,198169601823367488,1084875332,217874026,949275818,740410934,1362049635,140236542,1639022562,381122979,...,1757222743419326,7200479176,7271873291045410,2496210544,1,48923337640449152,51679139270845304,7790897275997664256,5794196640671343,6635300519
1,0,3,27,31,14,21,52,6,15,0,...,7,112,2,45,0,30,83,70,3,195
2,35,58,0,0,5,13,58,2,21,0,...,0,112,34865054,31,0,34865092,54,94,0,8754839008
3,5,11,0,10,25,55,339,20,31,1,...,3,172,15,34,3,191,191,100,0,118
4,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
562,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
563,101,60,126,55,29,165,30,8,22,2,...,28,617651102,68017134,278180582,3,68016968,656862962,306986086,2,243
564,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
565,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808

In [304]:
ind_agg4 = np.array(ind_agg4)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg4 = np.sum(ind_agg4[:, 24:29], axis=1)
row_sums_cons = np.sum(cons1[:, 24:29], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg4 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg4:\n", row_sums_ind_agg4)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg4:
 [ 7897293956184930849                  382           8789704249
                  601 -9223372036854775808 -9223372036854775808
                  418                    0 -9223372036854775808
          40621309995 -9223372036854775808            123805978
 -9223372036854775808 -9223372036854775808           6612734133
 -9223372036854775808 -9223372036854775808                  355
 -9223372027367272568 -9223372036854775808                    0
                    0           7251874858 -9223372036854775808
                  326 -9223372036854775808                  489
 -9223372036854775808                  646                  136
                  286 -9223372036854775808                  255
                  172                  448 -9223372036854775808
                    0                  948            149022173
 -9223372036854775808                  214            899951421
 -9223372036854775808           5902612653                  363
 -9223372036854775808                  325 -9223372036854775808
                  328                  291                  310
                  795                  309                  615
           3663400663 -9223372036854775808                  103
                 1349 -9223372036854775808                  285
                  295 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0 -9221997289088449319
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0           4167235215                  359
          31641570919                  176                  179
 -9223372036854775808            523964646                  452
           3402276834                  149                  194
          61369460716                  296                  745
           7729617043                  151             91308335
                    0 -9223372036854775808           6317514189
             21816615 -9223372036854775808                  778
                  190 -9223372036854775808          47506449149
                  256 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
           3894542662 -9223372036854775808            440631639
                  177                  675                  109
 -9223372036854775808 -9223372036854775808                  263
                    0           2185577912            634356259
 -9223372036854775808 -9223372036854775808             39159498
             55599779                  226                  382
                  270         158060955580           7144791964
                  734                  610 -9223372036854775808
 -9223372036854775808           6477595382 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  374
           1731043317 -9223372036854775808           1051390560
                  234                  383                  188
                 1035                    0 -9223372036854775808
 -9223372036854775808                  671                  258
                  539                  141 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  275
 -9223372036854775808           6397466757    45241085713937115
           9744917743            607446388          12002507036
                  158            685128308           5752945591
                  322 -9223372036854775808            984832227
                  323                  276                  315
           3884529367                  911 -9223372036854775808
                   74                  125 -9223372036854775808
                  286 -9223372036854775808                    0
 -9223372036854775808                  235 -9223372036854775808
                 1205                  645 -9223372036854775808
           4474921688 -9223372036854775808                    0
 -9223372036854775808                  194                  164
          15252192848            799926014                 1075
                  293 -9223372036854775808 -9223372036854775808
           2904956026            961920586 -9223372036854775808
                  216                  490            364634230
                  666                  209 -9223372036854775808
 -9223372036854775808                  534                  630
                  217 -9223372036854775808          13989582577
 -9223372036854775808           2101304287                  180
            249697599                  143                  378
 -9223372036854775808                  217            569310140
             46520070                  274 -9223372036854775808
                  146                  172                    0
           2538389145   629067400977373752                  186
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  182 -9223372036854775808                  206
                  232            415468641                  868
 -9223372036854775808         580204852016                  275
 -9223372036854775808                  754 -9223372036854775808
 -9223372036854775808                    0            799894285
 -9223372036854775808 -9223372036854775808                 1310
                    0 -9223372036854775808                  681
 -9223372036854775808                  393                    0
 -9223372036854775808                  122           4429995956
           4861513773 -9223372036854775808 -9223372036854775808
 -9223372036854775808              8393236 -9223372036854775808
 -9223372036854775808 -9223372036854775808             79399034
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808            146333442                    0
                  685                    0                 1103
                 1895                   72                  394
 -9223372036854775808                  342 -9223372036854775808
   195596229323758788                    0                  221
          28304089522          38987899789                    0
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808    50355175951884799 -9223372036854775808
                  601 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808                  403                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  853                  198                    0
                  300         233695911582 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  360
                  403                  186 -9223372036854775808
                  332                  241                  493
           4972581368 -9223372036854775808                  394
                  383 -9223372036854775808 -9223372036854775808
                  147 -9223372036854775808                  285
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                  262
 -9223372036854775808          41108832804                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  428 -9223372036854775808          36169112487
 -9223372036854775808                  373 -9223372036854775808
                  221                  175                 1319
                  878              1754731                   77
                 1098                  165                  255
                  350 -9223372036854775808          57909946705
           7378538096                  267                  461
                  343                  156   310768528911184578
                  277                  354 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  229 -9223372036854775808 -9223372036854775808
           5497783455           1874719729                  630
 -9223372036854775808 -9223372036854775808                  394
                  444           2724548782                    0
                    0                  551 -9223372036854775808
 -9223372036854775808                  240           3414963020
                  374          16923986831                  329
                  307 -9223372036854775808 -9223372036854775808
                 1009                    0             52049435
                    0           4815856093                  350
                  371           8453583190            183343205
                    0                    0 -9223372036854775808
                    0                  427                  164
           1342572052                 1369                  250
                  953 -9223372036854775808                  317
 -9223372036854775808                  385                  453
                  216 -9223372036854775808 -9223372036854775808
                  966                  876 -9223372036854775808
                  274 -9223372036854775808                  449
                  820 -9223372036854775808                  197
                  309 -9223372036854775808           2549393250
                  447                    0                  365
 -9223372036854775808                  425 -9223372036854775808
                  280           4216517266                  577
          12279215008                    0                  397
                  700           4165191389                  938
 -9223372036854775808                    0 -9223372036854775808
                  252           9084111938                  802
 -9223372036854775808             47607090                  546
                  273           1556982763 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808                   68 -9223372036854775808
                  316         149288324931                  328
                  255           6048041517 -9223372036854775808
          11804717399 -9223372036854775808 -9223372036854775808
           9863140957 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  809
                    0                    0                  837
          23115840057 -9223372036854775808 -9223372036854775808
                  521                  434                  358
 -9223372036854775808 -9223372036854775808          13720571261
           2159593922                  198                  151
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  260 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                  312
                  947                  181              5682994
                  135 -9223372036854775808           1814827438
                  287                  756           1851159448
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808          27141694598
          10739168045 -9223372036854775808                    0
                  189 -9223372036854775808 -9223372036854775808
           3372022298          19928683086                  322
 -9223372036854775808                   82 -9223372036854775808
                  147 -9223372036854775808                  356
 -9223372036854775808                  578            106008663
                  664                    0                  572
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0                  874
 -9223372036854775808 -9223372036854775808           1031866262
 -9223372036854775808 -9223372036854775808]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [305]:
epsilon = 1e-10  # Small constant to prevent division by zero

# Loop through zones and (sex + age + edu) categories
for j in range(n_zone):
    for i in range(n_sex + n_age + n_edu + n_work + n_income):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1

        # Apply epsilon correction to the denominator to prevent division by zero
        adjusted_denominator = ind_agg4[j, i] + epsilon

        # Compute the new weights with the adjusted denominator
        weights5[index, j] = weights4[index, j] * cons.iloc[j, i] / adjusted_denominator

# Convert to DataFrame and display the first few rows
weights5_df = pd.DataFrame(weights5)
weights5_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,4.202691e-59,3.636286e+06,4.792722e-28,9204.086065,2.166321e-205,3.996290e-220,8.934167e+05,4.578350e+37,1.079619e-198,2.429350e-33,...,1.891433e-216,3.696868e+39,1.239184e-204,1.922009e+39,0.594894,9.713654e-211,6.286472e-207,9.957965e-15,2.878977e-219,4.332027e-217
1,1.384617e-63,2.004149e+05,4.521862e-21,0.139512,5.617257e-211,2.453742e-224,1.034930e+03,3.718980e+35,4.580893e-201,5.307292e-33,...,1.866582e-213,4.790450e+28,2.480713e-203,2.722965e+36,0.050857,1.667149e-203,3.713040e-213,6.960543e-21,9.449291e-217,1.669558e-212
2,2.407368e-50,3.709213e+01,4.798940e-12,89.759146,4.031918e-207,6.761423e-223,1.019369e+02,1.706615e+44,4.831143e-200,4.567222e-29,...,2.766329e-213,8.766444e+32,1.129577e-212,2.588987e+44,4.823859,1.672445e-206,6.691042e-209,5.214701e-21,1.536735e-218,NaN
3,1.095530e-64,2.292946e+11,1.467703e-28,217.684686,8.764289e-213,1.037065e-223,1.365492e+08,7.113531e+34,1.528904e-202,2.621462e-32,...,2.013392e-218,2.236477e+24,6.689410e-209,2.312975e+33,0.035828,4.991739e-211,4.778918e-210,5.369969e-22,1.826512e-221,NaN
4,1.384617e-63,2.004149e+05,4.521862e-21,0.139512,5.617257e-211,2.453742e-224,1.034930e+03,3.718980e+35,4.580893e-201,5.307292e-33,...,1.866582e-213,4.790450e+28,2.480713e-203,2.722965e+36,0.050857,1.667149e-203,3.713040e-213,6.960543e-21,9.449291e-217,1.669558e-212

In [306]:
# Loop to calculate column sums for each zone and store in `ind_agg2`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights2[:, i]
    ind_agg5[i, :] = np.sum(ind_cat.values * weights5[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg5_df = pd.DataFrame(ind_agg5, columns=ind_cat.columns)
ind_agg5_df

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,-9223372036854775808,6305464067831539,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,313384683693120,569622981263630,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,1258641811104373248,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
2,0,621974148,79091600,1991169789674,6533674366,48376979,55952293,0,0,1252439119,...,8652956484,0,180,5240270,1239644590,48385736,1993032760795,7931606085,56354853,13196903
3,7399172,3302529,1391100606758823680,813526,6483217,116277335,675912,263177,1014,247931,...,41741172,37741015160434,238355412510,30576965867526360,280452,238236438450,3192728917356,1424626118262972416,309610,3874
4,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
562,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
564,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
565,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808

In [307]:
ind_agg5 = np.array(ind_agg5)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg5 = np.sum(ind_agg5[:, 29:37], axis=1)
row_sums_cons = np.sum(cons1[:, 29:37], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg5 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg5:\n", row_sums_ind_agg5)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg5:
 [                   0 -7964730225750402560        2001082304372
  1424629549228641647                    0                    0
                    0                    0                    0
                   85                    0          48685048704
                    0                    0             26895973
                    0                    0                    0
                    0                    0                    0
                    0                  200                    0
 -7930500316540321338                    0         993872707140
                    0             65082169                    0
                    0                    0 -9222490401094730826
       80004158595193 -9132923800812064263                    0
                    0                 1158               415855
                    0       70360924919015  1476832948997050192
                    0                    0  1430473268006563887
                    0   -49597111302015135                    0
        4083740845189      232624464060199 -9222652682147841838
                 2685 -9050429291791097754                  477
   857993547162591376                    0                    0
                 1452                    0 -8807327323513093609
 -5285647626739891991                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                  216     2370897826128870
                    0 -6890088963287090156    93319752147406785
                    0                   77 -8859939233093146797
                 3271 -9220262642095581785       19849081896141
                    0 -4115855991501131169                 2912
                  194   113357148117536312 -9223290780325640743
                    0                    0                    0
    40995761224065439                    0                 1503
    60107180264244533                    0                    0
      494374778136485                    0                    0
                    0                    0                    0
 -8664419648682118134                    0      122619607425335
 -9223371994061554944                 1264 -9222033820553664884
                    0                    0 -9222959920963380435
                    0                   85      523970748923029
                    0                    0 -9221745257152336242
                  677  4148752699142129561   175122177578375101
 -9223371792458817587                    0                    0
                  947         245530061019                    0
                    0  3065649839068717552                    0
                    0                    0   324750713757599324
        2050197240259                    0       18745373158169
                    0     2394245402619057 -9223363838751102239
                 2843                    0                    0
                    0                 1648 -3563809609701281069
 -9223371871697930517                    0                    0
                    0                    0    32090311897921203
                    0                  251                    0
                   94      207908894815628                    0
 -6439880342010564367 -9223345610934138118                  127
 -9223372030912975128                    0                  107
 -8630973761799597250 -1509841796068347631 -9222670437992676915
                  241                  822                    0
                    0                    0                    0
 -7644240360307978768                    0                    0
                    0  3355233648515067759                    0
                 2480        9170580463198                    0
             79956948                    0                    0
                    0   215330923275176919 -7943561450285735515
                  109          10007505402                 1050
 -4229321002448045600                    0                    0
   226652553057489864                    0                    0
 -9212288977562319227 -9223371934522360241        2225623991942
       75464947290920                    0                    0
                    0 -9143518042573939781 -9223371856419452576
       20710875026286                    0                    0
                    0     1183975179363899 -8929768790237462080
 -9222208215468570605 -8294871935996201213  3040581555663622370
                    0   561628506822697721                    0
 -9223329190860745873    43001439531109645                    0
 -9130699743274674651                    0                    0
         116704953235                    0 -9218969421776868518
                    0                    0                    0
    79103864221493077                    0                    0
  8926507859945621771 -8301595752051213763                  960
                    0                    0   974500216935363533
                    0           3069198394                    0
                    0                    0                   10
                    0                    0                 1159
                    0                    0                  557
                    0    24768590210767587                    0
                    0                    0   499411214855263398
  8547571568986174380                    0                    0
                    0        1919918089292                    0
                    0                    0          17449239912
                    0                    0                    0
                    0           1161976561                    0
          47330207149                    0  2664213638224336510
                 3034                    0   414902018992602905
                    0 -4730292750707053763                    0
                    0                    0      573158592536500
                    0                    0                    0
                    0 -9223372036854775808                    0
                    0                    0                    0
                  815                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                 2151 -6235685865928502272                    0
 -9223307880739742037         100081359242                    0
                    0                    0  6700666325654949950
   106192988308749667   442060630876672702                    0
 -1009753497523736613 -3424503881540832005                 1555
                  217                    0 -9015468389715970040
                    0                    0                    0
 -9223121825200271012                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                  755                    0                    0
                    0 -8583542635117794883                    0
 -9223371936617319801 -6381247174500837540                 1059
 -9223371955650748321       22029594118043   244986228621099553
                 1852     2240416097935618 -6744031933376218095
   122363303009121333                    0                    0
                  137    19625743175550051  8278148118290500926
 -8604839751475897506                    0                    0
       23159424307424 -7614820915044650470                    0
                    0                    0                    0
                    0                    0                    0
     1627876822083753                    0                    0
                   35                    0  3817745807790397798
                    0                    0 -9223371639891452191
 -9223372018897170076                  189                    0
                    0                    0                    0
                    0  1175735566190656350      676654023289125
  3871840271985331788                    0     8462352405489432
   185931128689230537                    0                    0
 -9223371616061418820                    0 -9222896981968163609
                    0   357942194360877939 -9110125980650412357
                    0         138473341575                  231
                    0                    0                    0
                    0                    0 -9027288687492905216
                  105                 1959                    0
                 1008                    0 -8970895601523055601
                    0     1572691756978957       99991647172859
                    0                    0                    0
                 1778          15380878192                    0
       27218810301601                    0 -9223129917674995123
      126381662106960                    0 -8452456838325830032
 -8762329524618698638                    0                  186
                    0                    0 -6102725261224826880
                    0   526751971420357445                    0
                    0                  115 -9223330470674774591
                  843                    0 -9223358444522709313
                 1098  4791758661005205782                 1532
                    0                    0                    0
                    0                    0                  515
                    0       29957868019527 -5352658412814296641
  5582583613223193886           4492100214                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
    14582073758001721                    0 -1087056618854854170
  2698019721585375199                    0                    0
                    0                    0                    0
            704970039                    0                    0
                    0                    0                    0
                    0                    0       10136167610208
                    0                    0 -2137120855154429183
                    0                    0                    0
 -9217046265610205228  2435205737997587499  3042796160720794839
                    0                    0                  222
             12956647 -9223199241402406238 -9223223962356026975
                    0                    0                    0
                    0                    0                    0
                    0                    0                    0
                 1307                    0      572567740581621
                    0                    0               317208
 -8527514826972535296                 1048              6977440
                    0                    0                    0
                    0                    0                    0
 -8146202201753952907                    0                    0
                    0                    0                    0
                    0                  119    89003575807545159
                    0           1001772483                    0
     1568985606944945                    0   311549769297732850
                    0        2025805131543           5326012577
                 1709                    0                  737
                    0                    0                    0
                    0                    0                 1098
                    0                    0                    0
                    0                    0]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [308]:
epsilon = 1e-10  # Small constant to prevent division by zero

# Loop through zones and (sex + age + edu) categories
for j in range(n_zone):
    for i in range(n_sex + n_age + n_edu + n_work + n_income + n_marriage):
        # Find the indices where the corresponding value in ind_cat is 1
        index = ind_cat.iloc[:, i] == 1

        # Apply epsilon correction to the denominator to prevent division by zero
        adjusted_denominator = ind_agg5[j, i] + epsilon

        # Compute the new weights with the adjusted denominator
        weights6[index, j] = weights5[index, j] * cons.iloc[j, i] / adjusted_denominator

# Convert to DataFrame and display the first few rows
weights6_df = pd.DataFrame(weights6)
weights6_df.head()

,0,1,2,3,4,5,6,7,8,9,...,556,557,558,559,560,561,562,563,564,565
0,3.996278e+15,-2.449563e-91,7.977095e-46,2.409514e-55,2.657427e-308,0.0,7.153570e-96,1.963118e-65,3.316147e-299,3.056812e+14,...,0.000000e+00,1.106905e-66,1.351131e-306,2.787336e-62,0.914607,3.029113e-316,1.177468e-310,4.366914e+58,0.0,0.0
1,8.545206e+08,1.840088e-97,1.618167e-44,6.929877e-64,2.049837e-316,0.0,1.523891e-100,1.184250e-68,1.283388e-302,5.243996e+05,...,5.385316e-322,2.955843e-78,6.232189e-305,1.212255e-66,0.000393,2.495447e-307,5.860607e-319,6.794074e+52,0.0,0.0
2,4.241386e+23,1.210500e-100,2.183068e-47,7.332280e-65,7.679056e-311,0.0,2.062827e-100,1.198775e-59,1.952414e-301,1.673571e+10,...,1.256903e-320,1.913676e-72,8.138852e-318,2.771621e-58,0.099872,3.749313e-312,5.266443e-313,2.288925e+52,0.0,NaN
3,6.469950e+06,-2.603964e-88,7.317830e-50,7.488623e-67,9.049800e-319,0.0,1.739195e-95,7.718092e-70,1.523735e-304,6.563426e+04,...,0.000000e+00,2.232131e-84,5.232857e-312,2.358298e-71,0.000860,7.783137e-317,3.442692e-315,8.707721e+50,0.0,NaN
4,8.545206e+08,1.840088e-97,1.618167e-44,6.929877e-64,2.049837e-316,0.0,1.523891e-100,1.184250e-68,1.283388e-302,5.243996e+05,...,5.385316e-322,2.955843e-78,6.232189e-305,1.212255e-66,0.000393,2.495447e-307,5.860607e-319,6.794074e+52,0.0,0.0

In [309]:
# Loop to calculate column sums for each zone and store in `ind_agg2`
for i in range(n_zone):
    # Calculate column sums after element-wise multiplication of `ind_cat` and weights2[:, i]
    ind_agg6[i, :] = np.sum(ind_cat.values * weights6[:, i].reshape(-1, 1), axis=0)

# Convert to DataFrame and display the first few rows
ind_agg6_df = pd.DataFrame(ind_agg6, columns=ind_cat.columns)
ind_agg6_df

,AGE_25 to 29 years,AGE_30 to 34 years,AGE_35 to 39 years,AGE_40 to 44 years,AGE_45 to 49 years,AGE_50 to 54 years,AGE_55 to 59 years,AGE_60 and 61 years,AGE_62 to 64 years,AGE_65 and 66 years,...,"INCOME_$25,000 - $34,999","INCOME_$35,000 - $49,999","INCOME_$50,000 - $74,999","INCOME_$75,000 - $99,999","INCOME_Less than $25,000",MS_Divorced,MS_Never married,MS_Now married,MS_Separated,MS_Widowed
0,-9223372036854775808,3124188839185,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,197210428646910496,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
562,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
563,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
564,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808
565,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,...,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808,-9223372036854775808

In [310]:
ind_agg6 = np.array(ind_agg6)
cons1 = np.array(cons)

# Calculating row sums for columns 0 to 14 (which corresponds to columns 1 to 15 in R)
row_sums_ind_agg6 = np.sum(ind_agg6[:, 37:42], axis=1)
row_sums_cons = np.sum(cons1[:, 37:42], axis=1)

# Comparing the row sums
row_sums_equal = row_sums_ind_agg6 == row_sums_cons

# Displaying the results
print("Row sums for ind_agg6:\n", row_sums_ind_agg6)
print("Row sums for cons:\n", row_sums_cons)
print("Are row sums equal:\n", row_sums_equal)

Row sums for ind_agg6:
 [-9223372036854775808                    0                    0
                    0 -9223372036854775808 -9223372036854775808
                    0                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808          84826428244
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808                   16                    0
                    0 -9223372036854775808                    0
                    0                    0 -9223372036854775808
                    0                 1086 -9223372034414421841
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
                    0                    0                    0
                   41                    0                 8406
                38902 -9223372036854775808                    0
                11566 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808                    0
    84818477989415568                    0                    0
 -9223372036854775808                    0                   10
 -9223372036854775808                    0                    0
                    0 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                 2805
                    0 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808          79782745233
                    0                  114                    0
 -9223372036854775808 -9223372036854775808                    0
                    0 -9223372036854775808       86379819350360
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0                    0
                    0 -9223372036854775808 -9223372036854775808
                  531                    0 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808                99126
                    0                    0                    0
                  194                    0 -9223372036854775808
 -9223372036854775808                  125                    0
                    0                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036812777459 -9223372036854775808
                    0                    0 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
                    0                    0                    0
 -9223372036854775808                 1843 -9223372036854775808
                    0                    0 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
                 1803                    0 -9223372036854775808
                    3 -9223372036854775808                    0
 -9223372036854775808                    0                    0
 -9223372036854775808                15257            760666425
                    0 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
                    0                    0           6914807635
                    0                    0 -9223372036854775808
 -9223372036854775808                    0                    0
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0                    0
                    0                    0                    0
 -9223372036854775808                    0 -9223372036854775808
                    0                    0 -9223372036854775808
                    0                    0                    0
       12831699461247 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
                    0                    0                  903
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808                 6305
                    0 -9223372036854775808                 1829
 -9223372036854775808                    0                    0
 -9223372036854775808                    0                    1
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9177216152476530051                    0
                 3030                    0                    0
                33489                    0                    0
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                  378 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                   51                    0                    0
                    0    18888984754207676 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
                    0                    0 -9223372036854775808
                    0                    0                   14
 -9223372036854775808 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
             22604338 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
                    0                    0           8689632949
                    0    18573437861345078                    0
                  716                    0                    0
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0                    0
                    0                    0 -9223372036854775808
                    0                    0 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808 -9223372036854775808                    0
                    0 -9223372036854775808                    0
                    0                    0 -9223372036854775808
 -9223372036854775808                    0   315247785811376255
                    0 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
                    0                    0                    0
                    0                    0                    0
                    0                12427 -9223372036854775808
                    0                    0 -9223372036854775808
                    0                    0                    0
 -9223372036854775808                  378                    0
                 9273 -9223372036854775808                    0
 -9223372036854775808                    0                    0
                    0 -9223372036854775808 -9223372036854775808
                  150                   77 -9223372036854775808
                    0 -9223372036854775808                    0
                    0 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
                    0                    0                    0
 -9223372036854775808                    0 -9223372036854775808
                    0 -9223372036854775808                    0
                    0                    0                    0
                  619                    0                  213
 -9223372036854775808                    0 -9223372036854775808
                    0 -9223372036854775808        1538041185318
 -9223372036854775808            398578804                    0
                    0 -8629385095500641259 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0 -9223372036854775808
                    0 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
                    0                    0                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0                    0                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
                  946                    0              6752038
                    0 -9223372036854775808   100022665655319024
                    0                  356 -9223372036854775808
 -9223372036854775808                    0                    0
 -9223372036854775808 -9223372036854775808 -9223372036854775808
                    0 -9223372036854775808                    0
                    0 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
                    0 -9223372036854775808                    0
 -9223372036854775808                    0 -9223372036854775808
                   57                    0                  284
 -9223372036854775808 -9223372036854775808                    0
 -9223372036854775808                    0                  695
 -9223372036854775808 -9223372036854775808 -9223372036854775808
 -9223372036854775808 -9223372036854775808]
Row sums for cons:
 [ 729.  745.  622.  835.  287.   94.  726.  361. 1028.  473.  807.  655.
  514.  598.  497.  363.  305.  762.  574.  863.  302.  482.  642.  773.
  487.  477.  548.  279.  696.  819.  861.  340.  448.  266.  749.  592.
  277.  928. 1050.  267.  448.  505.  501.  308.  720.  409.  588.  278.
  488.  580.  393.  850.  443.  531.  392.  272.  243. 1085.  377.  621.
  787.  279.  487.  923.  494. 1158.  434.  247.  659. 1040.  463.  789.
  660.  304.  509.  359.  611.  987.  344.  407.  435.  686.  649.  930.
  563.  494.  633.  361.  414.  774.  344.  221.  708.  335.  208.  414.
  342.  595.  696.  352.  277.   55. 1193.  417.  641.  360.  716.  242.
  327.  828.  487.  422.  740.  761.  492.  906.  298.  527.  399.  556.
  284.  330.  337.  747.  570.  275.  732.  323.  471.  276.  493.  530.
  573.  447.  797.  576.  546.  288. 1064.  324.   40.   53.  676.  548.
  689.  267.  331.  416.  363.  488.  697. 1034.  371.  445.  319.  490.
  480.  353.  688.  616.  290.  609.  739.  600.  598.  588.  872.  517.
  205.  293.  324.  524.  407.  499.  462.  468.  504. 1067.  796.  358.
  641.  642.  341.  367.  264.  298.  812.  774.  867.  466.  249.  316.
  911. 1021.  308.  438.  480.  414.  961.  395.  435.  271.  639.  703.
  386.  822.  530.  708.  443.  374.  230.  370.  616.  863.  384.  590.
  231.  542.  523.  224.  528.  359.  767. 1160.  587.  512.  459.  295.
  287.  436.  441.  436.  849.  859.  803.  299.  540.  392.  626.  438.
  577.  354.  759.  824.  159. 1193.  576.  446.  645.  575.  587.  293.
  561.  384.  582.  590.  504.  387.  283.  686.  299. 1038.  392.  768.
  475.  312.  266.  290.  612.  508.  574.  459.  974. 1552.  251.  697.
  248.  683.  680.  281.  512.  354.  444.  835.  485.  295.  336.  402.
  418.  584.  760.  600.  432.  584.  294.  613.  328.  438.  916.  486.
  419.  634.  363.  897.  791.  464.  416.  487.  225.  392.  168.  592.
  619.  365.  766.  557.  484.  554.  748.  451.  793.  676. 1163.  418.
  384.  636.  567.  492.  860.  149.  831. 1055.  816.  441.   32.  504.
  361.  493.  317.  464.  602.  451.  420.  495.  544.  536.  517.  651.
  481.  383. 1180.  918.  870.  429. 1102.  429.  581.  636.  433.  630.
  963.  566.  725.  437.  268.  271.  563.  586.  384.  607.  298.  507.
  235.  235.  400.  423.  384.  604.  883.  979.  867.  314.  288.  415.
  733.  593.  768.   93. 1342.  400.  911.  361.  757.  814.  480.  409.
  578.  622.  527. 1017.  727.  634.  515.  223.  433.  857.  399.  648.
  308.  427.  568.  510.  775.  330.  721. 1366.  580.  830.  590.  609.
  402.  665.  806.  352.  552.  264. 1011.  796.  424.  643.  390.  465.
 1102.  481.  416.  535.  517.  838. 1070.  873.  756.  556.  849.  901.
  443.  824.  719.  739.  276.  627.  697.  387.  968.  320.  884.  302.
  470.  339.  678.  491.  365. 1035.  621.  411.  976.  537.  887.  341.
  540.  548.  711.  753.  664.  853.  300.  716.  209.  586. 1117.  569.
  482.  275.  571.  845.  617.  358.  863.  720.  560.  642.  363. 1390.
  767. 1279.  711. 1269.  303.  864. 1008.  660.  508.  751.  917.  692.
  300.  699. 1039.  698.  367.  365.  783. 1394.  226.  480.  768.  524.
   64.  855.  891.  939.  517.  644.  471.  669.  850.  596.  845.  889.
  475.  473.  742. 1157.  351.  487.  458. 1258.  612.  636.  226.  858.
  973.  849.  572.   44.  291.   32.  315.   72.  669.  604.  516.  391.
  705.  446.  583.  224.  317.  428.  583. 1133.  861.  374.  269.  952.
   42.  136.]
Are row sums equal:
 [False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False]

In [311]:
# Convert dataframes to vectors
def vec(x):
    return np.array(x).flatten()  # Converts DataFrame/array to a 1D numeric array

# Calculate correlations
cor_agg0 = np.corrcoef(vec(ind_agg0), vec(cons))[0, 1]
cor_agg1 = np.corrcoef(vec(ind_agg1), vec(cons))[0, 1]
cor_agg2 = np.corrcoef(vec(ind_agg2), vec(cons))[0, 1]
cor_agg3 = np.corrcoef(vec(ind_agg3), vec(cons))[0, 1]
cor_agg4 = np.corrcoef(vec(ind_agg4), vec(cons))[0, 1]
cor_agg5 = np.corrcoef(vec(ind_agg5), vec(cons))[0, 1]
cor_agg6 = np.corrcoef(vec(ind_agg6), vec(cons))[0, 1]

# Print correlations
print("Correlation between ind_agg0 and cons:", cor_agg0)
print("Correlation between ind_agg1 and cons:", cor_agg1)
print("Correlation between ind_agg2 and cons:", cor_agg2)
print("Correlation between ind_agg3 and cons:", cor_agg3)
print("Correlation between ind_agg4 and cons:", cor_agg4)
print("Correlation between ind_agg5 and cons:", cor_agg5)
print("Correlation between ind_agg6 and cons:", cor_agg6)

Correlation between ind_agg0 and cons: 0.19808016554499966
Correlation between ind_agg1 and cons: 0.33543651538261937
Correlation between ind_agg2 and cons: 0.07049031074246154
Correlation between ind_agg3 and cons: 0.070003268807123
Correlation between ind_agg4 and cons: 0.07015348389083624
Correlation between ind_agg5 and cons: 0.04745670105301675
Correlation between ind_agg6 and cons: 0.023993287507364017